In [12]:
import pandas as pd
import scipy.stats as stats

In [4]:
df = pd.DataFrame({'Gender':  ['Male', 'Male', 'Female', 'Female', 'Male', 'Female', 'Female', 'Male', 'Female', 'Male'], 
                  'Smoker': ['Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'No', 'No', 'Yes', 'No']})

In [6]:
df.head()

   Gender Smoker
0    Male    Yes
1    Male     No
2  Female     No
3  Female    Yes
4    Male    Yes

In [10]:
cross_tab = pd.crosstab(df['Gender'], df['Smoker'])
cross_tab

Smoker  No  Yes
Gender
Female   3    2
Male     3    2

In [15]:
#Perform Chi Square test to find any statistical significant relationships btw gender and being a smoker

chi2, p_value, dof, expected = stats.chi2_contingency(cross_tab)

In [16]:
if p_value <= 0.05:
    print("There is a significant statistical relationship between gender and smoking")
else:
    print("There is no significant statistical relationship between gender and smoking")

There is no significant statistical relationship between gender and smoking

In [20]:
print("Chi-square test result: {}".format(chi2))

Chi-square test result: 0.0

In [21]:
print("P_value: {}".format(p_value))

P_value: 1.0

In [22]:
print("Degree of Freedom: {}". format(dof))

Degree of Freedom: 1

In [23]:
print("Expected frequency under null hypothesis of no association: {}".format(expected))

Expected frequency under null hypothesis of no association: [[3. 2.]
 [3. 2.]]